# Activation du module de réécriture
RewriteEngine On

# Si le fichier ou dossier existe, on le sert directement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige tout vers index.php
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
