
/* 1. ABSTRACTION : Variables et configurations globales */
@import url("./abstract/_variables.css");

/* 2. BASE : Styles bruts des éléments HTML */
@import url("./base/_reset.css");
@import url("./base/_typography.css");
@import url("./base/_forms.css");
@import url("./base/_tables.css");

/* 3. LAYOUT : Structure globale (Admin et Public) */
@import url("./layout/_admin.css");
@import url("./layout/_public.css");

/* 4. COMPONENTS : Éléments d'interface réutilisables */
@import url("./components/_header.css");
@import url("./components/_footer.css");
@import url("./components/_sidebar.css");
@import url("./components/_button.css");
@import url("./components/_flash-message.css");
@import url("./components/_navigation.css");

/* 5. MODULES (Groupes de composants complexes) */
@import url("./modules/card/_articles_card.css");
@import url("./modules/form/_login.css");
@import url("./modules/form/_register.css");

/* 6. PAGES : Styles très spécifiques (peu d'overrides ici) */
@import url("./pages/_dashboard.css");
@import url("./pages/_login.css");